.header {
    padding: 80px;
    height: 175px;
    left:5px;
    right:5px;
    position:fixed;
    text-align: center;
    background: azure;
    color: white;
    font-family: "Rockwell", serif;
    border: 5px solid black;
}
.headerWelcome {
    padding: 80px;
    height: 275px;
    left:5px;
    right:5px;
    position:fixed;
    text-align: center;
    background: azure;
    color: white;
    font-family: "Rockwell", serif;
    border: 5px solid black
}

.mainSection {
    text-align: center;
    background: aliceblue;
    position: fixed;
    top: 400px;
    height: 550px;
    bottom: 25px;
    left:25px;
    right:25px;
    border: 5px solid black;
}

.mainSectionWelcome {
    text-align: center;
    background: aliceblue;
    position: fixed;
    top: 500px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    border: 5px solid black
}

.NavButton {
    padding: 5px;
    background: lightskyblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 300px;
    height: 125px;
    font-size: xx-large;
    border: 5px solid darkblue;
}
.NavButton:hover{background: dodgerblue; color: white}

.WelcomeButton {
    padding: 5px;
    background: lightskyblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 600px;
    height: 250px;
    font-size: 60px;
    border: 5px solid darkblue;
}
.WelcomeButton:hover{background: dodgerblue; color: white}

#WelcomeRegister{
    position: fixed;
    top: 600px;
    left: 150px;
}

#WelcomeLogin{
    position: fixed;
    top: 600px;
    right: 150px;
}

.heading {
    alignment: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 75px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:midnightblue;
}

#Home{
    position: fixed;
    top: 25px;
    left: 200px;
}
#HomeSelected{
    position: fixed;
    top: 25px;
    left: 200px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#Calories{
    position: fixed;
    top: 175px;
    left: 35px;
}
#CaloriesSelected{
    position: fixed;
    top: 175px;
    left: 35px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#Info{
    position: fixed;
    top: 175px;
    left: 365px;
}
#InfoSelected{
    position: fixed;
    top: 175px;
    left: 365px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#FoodInfo{
    position: fixed;
    top: 25px;
    right: 200px;
}
#FoodInfoSelected{
    position: fixed;
    top: 25px;
    right: 200px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#Recipes{
    position: fixed;
    top: 175px;
    right: 365px;
}
#RecipesSelected{
    position: fixed;
    top: 175px;
    right: 365px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#Exercises{
    position: fixed;
    top: 175px;
    right: 35px;
}
#ExercisesSelected{
    position: fixed;
    top: 175px;
    right: 35px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
.UserButton {
    padding: 5px;
    background: lightskyblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 600px;
    height: 250px;
    font-size: 60px;
    border: 5px solid darkblue;
}
.UserButton:hover{background: dodgerblue; color: white}

#ViewUser{
    position: fixed;
    top: 600px;
    left: 150px;
}

#UpdateUser{
    position: fixed;
    top: 600px;
    right: 150px;
}

#LogoNav{
    position: absolute;
    border: 5px solid #555;
    border-radius: 12px;
    left:37.5%;
    right:35%;
    top: 25%;
}
#LogoWelcome{
    border: 5px solid #555;
    border-radius: 12px;
    top: 50px;
    alignment: center;
}

.UserInfoTable{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid darkslateblue;
    border-radius: 12px;
    font-size: 30px;

    font-family: "Rockwell", serif;
}

#firstColumn{
    font-weight: bolder;
    color: black;
}

#secondColumn{
    font-weight: bold;
    color: navy;
}

.UpdateButton{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 30px;
    border: 2px solid deepskyblue;
}

.UpdateButton:hover{background: lightblue; color: black}

#scroll {
     border: 5px solid black;
     padding: 5px;
     font: 24px/36px sans-serif;;
     overflow: scroll;
 }
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    border: 1px solid white;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: white
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: darkblue;
}