.header {
    padding: 80px;
    height: 175px;
    left:5px;
    right:5px;
    position:fixed;
    text-align: center;
    background: azure;
    color: white;
    font-family: "Rockwell", serif;
    border: 5px solid black;
}
.headerWelcome {
    padding: 80px;
    height: 275px;
    left:5px;
    right:5px;
    position:fixed;
    text-align: center;
    background: azure;
    color: white;
    font-family: "Rockwell", serif;
    border: 5px solid black
}

.mainSection {
    text-align: center;
    background: aliceblue;
    position: fixed;
    top: 400px;
    height: 550px;
    bottom: 25px;
    left:25px;
    right:25px;
    border: 5px solid black;
}

.mainSectionWelcome {
    text-align: center;
    background: aliceblue;
    position: fixed;
    top: 500px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    border: 5px solid black
}

.NavButton {
    padding: 5px;
    background: lightskyblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 300px;
    height: 125px;
    font-size: xx-large;
    border: 5px solid darkblue;
}
.NavButton:hover{background: dodgerblue; color: white}

.WelcomeButton {
    padding: 5px;
    background: lightskyblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 600px;
    height: 250px;
    font-size: 60px;
    border: 5px solid darkblue;
}
.WelcomeButton:hover{background: dodgerblue; color: white}

#WelcomeRegister{
    position: fixed;
    top: 600px;
    left: 150px;
}

#WelcomeLogin{
    position: fixed;
    top: 600px;
    right: 150px;
}

.heading {
    alignment: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 75px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:midnightblue;
}

#Home{
    position: fixed;
    top: 25px;
    left: 200px;
}
#HomeSelected{
    position: fixed;
    top: 25px;
    left: 200px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#Calories{
    position: fixed;
    top: 175px;
    left: 35px;
}
#CaloriesSelected{
    position: fixed;
    top: 175px;
    left: 35px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#Info{
    position: fixed;
    top: 175px;
    left: 365px;
}
#InfoSelected{
    position: fixed;
    top: 175px;
    left: 365px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#FoodInfo{
    position: fixed;
    top: 25px;
    right: 200px;
}
#FoodInfoSelected{
    position: fixed;
    top: 25px;
    right: 200px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#Recipes{
    position: fixed;
    top: 175px;
    right: 365px;
}
#RecipesSelected{
    position: fixed;
    top: 175px;
    right: 365px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
#Exercises{
    position: fixed;
    top: 175px;
    right: 35px;
}
#ExercisesSelected{
    position: fixed;
    top: 175px;
    right: 35px;
    background: #6efdff;
    border: 5px solid #57c8c9;
}
.UserButton {
    padding: 5px;
    background: lightskyblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 600px;
    height: 250px;
    font-size: 60px;
    border: 5px solid darkblue;
}
.UserButton:hover{background: dodgerblue; color: white}

#ViewUser{
    position: fixed;
    top: 600px;
    left: 150px;
}

#UpdateUser{
    position: fixed;
    top: 600px;
    right: 150px;
}

#LogoNav{
    position: absolute;
    border: 5px solid #555;
    border-radius: 12px;
    left:37.5%;
    right:35%;
    top: 25%;
}
#LogoWelcome{
    border: 5px solid #555;
    border-radius: 12px;
    top: 50px;
    alignment: center;
}

.UserInfoTable{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid darkslateblue;
    border-radius: 12px;
    font-size: 30px;

    font-family: "Rockwell", serif;
}

#firstColumn{
    font-weight: bolder;
    color: black;
}

#secondColumn{
    font-weight: bold;
    color: navy;
}

.UpdateButton{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 30px;
    border: 2px solid deepskyblue;
}

.UpdateButton:hover{background: lightblue; color: black}

#scroll {
     border: 5px solid black;
     padding: 5px;
     font: 24px/36px sans-serif;;
     overflow: scroll;
 }
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    border: 1px solid white;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: white
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: darkblue;
}

#Core1{
    position: absolute;
    left: 15%;
    top: 40%;
    display: none;
}
#Core2{
    position: absolute;
    right: 15%;
    top: 40%;
    display: none;
}


#Legs1{
    position: absolute;
    left: 15%;
    top: 40%;
    display: none;
}
#Legs2{
    position: absolute;
    right: 15%;
    top: 40%;
    display: none;
}


#Arms1{
    position: absolute;
    left: 15%;
    top: 40%;
    display: none;
}
#Arms2{
    position: absolute;
    right: 15%;
    top: 40%;
    display: none;
}


#Full1{
    position: absolute;
    left: 15%;
    top: 40%;
    display: none;
}
#Full2{
    position: absolute;
    right: 15%;
    top: 40%;
    display: none;
}

#CoreButton{
    padding: 5px;
    background: royalblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 15%;
    height: 15%;
    font-size: 30px;
    border: 4px solid deepskyblue;
    position: absolute;
    top: 120px;
    left: 50px;
}
#CoreButton:hover{background: lightblue; color: black}

#LegsButton{
    padding: 5px;
    background: royalblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 15%;
    height: 15%;
    font-size: 30px;
    border: 4px solid deepskyblue;
    position: absolute;
    top: 120px;
    left: 500px;
}
#LegsButton:hover{background: lightblue; color: black}

#ArmsButton{
    padding: 5px;
    background: royalblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 15%;
    height: 15%;
    font-size: 30px;
    border: 4px solid deepskyblue;
    position: absolute;
    top: 120px;
    right: 500px;
}
#ArmsButton:hover{background: lightblue; color: black}

#FullButton{
    padding: 5px;
    background: royalblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 15%;
    height: 15%;
    font-size: 30px;
    border: 4px solid deepskyblue;
    position: absolute;
    top: 120px;
    right: 50px;
}
#FullButton:hover{background: lightblue; color: black}

#Workout\ Paragraph{
    position: absolute;
    font-weight: bold;
    font-size: 45px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}

#MainMeal1{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 250px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}
#MainMeal2{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 450px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}
#MainMeal3{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 650px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}

#VeganMeal1{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 250px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}
#VeganMeal2{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 450px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}
#VeganMeal3{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 650px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}

#Dessert1{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 250px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}
#Dessert2{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 450px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}
#Dessert3{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 650px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}

#Snacks1{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 250px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}
#Snacks2{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 450px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}
#Snacks3{
    position: absolute;
    height: 30%;
    width: 17.5%;
    left: 50px;
    top: 650px;
    border: 3px solid #555;
    border-radius: 12px;
    display: none;
}

#MainButton{
    padding: 5px;
    background: royalblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 15%;
    height: 15%;
    font-size: 30px;
    border: 4px solid deepskyblue;
    position: absolute;
    top: 120px;
    left: 50px;
}
#MainButton:hover{background: lightblue; color: black}

#VeganButton{
    padding: 5px;
    background: royalblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 15%;
    height: 15%;
    font-size: 30px;
    border: 4px solid deepskyblue;
    position: absolute;
    top: 120px;
    left: 500px;
}
#VeganButton:hover{background: lightblue; color: black}

#DessertButton{
    padding: 5px;
    background: royalblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 15%;
    height: 15%;
    font-size: 30px;
    border: 4px solid deepskyblue;
    position: absolute;
    top: 120px;
    right: 500px;
}
#DessertButton:hover{background: lightblue; color: black}

#SnackButton{
    padding: 5px;
    background: royalblue;
    color: black;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 15%;
    height: 15%;
    font-size: 30px;
    border: 4px solid deepskyblue;
    position: absolute;
    top: 120px;
    right: 50px;
}
#SnackButton:hover{background: lightblue; color: black}

#Recipe\ Paragraph{
    position: absolute;
    font-weight: bold;
    font-size: 45px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}

#MainP1{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 250px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadMain1{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 300px;
    display: none;
}
#DownloadMain1:hover{background: lightblue; color: black}

#MainP2{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 450px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadMain2{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 500px;
    display: none;
}
#DownloadMain2:hover{background: lightblue; color: black}

#MainP3{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 650px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadMain3{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 700px;
    display: none;
}
#DownloadMain3:hover{background: lightblue; color: black}

#VeganP1{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 250px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadVegan1{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 300px;
    display: none;
}
#DownloadVegan1:hover{background: lightblue; color: black}

#VeganP2{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 450px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadVegan2{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 500px;
    display: none;
}
#DownloadVegan2:hover{background: lightblue; color: black}

#VeganP3{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 650px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadVegan3{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 700px;
    display: none;
}
#DownloadVegan3:hover{background: lightblue; color: black}

#DessertP1{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 250px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadDessert1{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 300px;
    display: none;
}
#DownloadDessert1:hover{background: lightblue; color: black}

#DessertP2{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 450px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadDessert2{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 500px;
    display: none;
}
#DownloadDessert2:hover{background: lightblue; color: black}

#DessertP3{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 650px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadDessert3{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 700px;
    display: none;
}
#DownloadDessert3:hover{background: lightblue; color: black}

#SnacksP1{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 250px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadSnacks1{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 300px;
    display: none;
}
#DownloadSnacks1:hover{background: lightblue; color: black}

#SnacksP2{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 450px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadSnacks2{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 500px;
    display: none;
}
#DownloadSnacks2:hover{background: lightblue; color: black}

#SnacksP3{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 650px;
    margin-left: 400px;
    margin-right: 200px;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
#DownloadSnacks3{
    padding: 5px;
    background: royalblue;
    color: white;
    font-family: "Rockwell", serif;
    border-radius: 12px;
    width: 144px;
    height: 60px;
    font-size: 22px;
    border: 2px solid deepskyblue;
    position: absolute;
    right: 15px;
    top: 700px;
    display: none;
}
#DownloadSnacks3:hover{background: lightblue; color: black}

#Recipe\ Paragraph\ detailed{
    position: absolute;
    font-weight: bold;
    font-size: 45px;
    font-family: "Rockwell", serif;
    color:cornflowerblue;
    top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    text-align: left;
}